/* index.css */

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* App component styles */
.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* TableDetails component styles */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input {
  width: 45%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

button {
  width: 20%;
  height: 40px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color:#6c757d;
}

/* Table component styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #f0f0f0;
}
